<h1>Login Page</h1>
<form asp-action="Login" method="post">
<div class="row">
    <div class="col-3 form-group">
        <label>UserName</label>
        <input type="text" class="form-control" name="username" />
    </div>
</div>    
<div class="row">
    <div class="col-3 form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password"  />
    </div>
</div>    
<div class="row text-center">
    <div class="col-3 mt-2">
        <button type="submit" class="btn btn-primary">Login</button>
    </div> 
</div> 
</form>
